.content {
  display: inline-flex;
}

.leftSidebar {
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainMiddle {
  background-color: green;
}

.rightSidebar {
  background-color: red;
}
